
html, body{
    font-family: 'Roboto Mono', monospace;
    /*background-color: #edf5e1;*/
    background-color: #c8dbf6;
}

.navbar{
    /*background-color: #c8dbf6;*/
    /*font-weight: 700;*/
}

nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

.nav-item{
    font-size: large;
}

.rightF{
    float: right;
    text-decoration: none;
}

.shadowC{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.linkC{
    color: darkblue;
    text-decoration: none;
}


.topicLink{
    color: black;
    text-decoration: none;
}

#table_id_length, #table_id_filter{
    margin-bottom: 2em;
}

#table_id_paginate{
    position: fixed;
    left: 0;
    bottom: 2px;
    width: 100%;
}

#table_id_info{
    display: none;
}
